@import "tailwindcss";

@theme {
  --font-sans: "Pretendard Variable", "Pretendard", "SUIT", system-ui, sans-serif;

  --color-red: #f44c47;

  --color-gs1: #090909;
  --color-gs2: #858585;
  --color-gs3: #b6b6b6;
  --color-gs4: #f5f5f5;
  --color-gs5: #fafafa;
  --color-gs6: #ffffff;

  --color-grayscale-400-100: #bdbcb8;
  --color-grayscale-500-100: #a5a4a0;
  --color-grayscale-700-100: #676663;

  --color-inbrain-blue: #364f8e;
  --color-inbrain-lightblue: #5784f1;
  --color-brand-ink: #5784f1;
  --color-brand-ink-strong: #364f8e;
  --color-logo-black: #333333;

  --shadow-floating-xs: 0px 8px 16px 0px #00000008;
  --shadow-floating-sm: 0px 4px 16px 0px #00000026;

  /* 정의되지 않은 색상 */
  --color-omr-bg: #fffdf1;
}

@utility bg-black-grad {
  background-image: linear-gradient(135deg, #333333 0%, #333333 40%, #585858 100%);
}

@utility bg-blue-grad {
  background-image: linear-gradient(135deg, #364f8e 0%, #5784f1 100%);
}

@utility text-black-grad {
  background-image: linear-gradient(135deg, #333333 0%, #333333 40%, #585858 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
